---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html>
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>你好</h1>
			<p>
				这里是我的个人博客，欢迎来到我的世界！我叫 Gujial，是一名热爱技术的开发者。在这里，我将分享我的编程经验、技术见解以及生活点滴。希望你能在这里找到有价值的内容，并与我一起探索技术的无限可能。
			</p>
		</main>
		<Footer />
	</body>
</html>
